/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: url(../images/cover-image-dark.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: var(--font-main);
}

/* //////////////////////////////////////////////////////// */

.content {
  padding: 0 20px;
}

.content__block-title {
  color: var(--title-block-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  line-height: 23.4px;
}

.content__block-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__block-info-title {
  color: var(--title-info-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  line-height: 23.4px;
}

.content__block-info-text {
  color: var(--text-info-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight-norm);
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--accent-color);
}

.accent-link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.accent-link:hover {
  border-bottom: 1px solid var(--text-info-color);
}

.accent-link:focus {
  outline: none;
}

.accent-link:focus-visible {
  border: 1px solid var(--text-info-color);
}

/* //////////////////////////////////////////////////////// */

.header {
  min-block-size: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin-block-end: var(--margin-block-norm);
}

.decorated-zone {
  padding: 20px;
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 20px;
  inset-inline-end: 20px;
  border-block-start: 1px solid var(--decoration-color);
  border-inline-end: 1px solid var(--decoration-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 20px;
  inset-block-end: 20px;
  border-block-end: 1px solid var(--decoration-color);
  border-inline-start: 1px solid var(--decoration-color);
}

.header__decoration-text {
  position: absolute;
  inset-block-start: 20px;
  inset-inline-end: 48px;
  color: var(--decoration-color);
  text-align: center;
  font-size: var(--font-size);
  font-weight: var(--font-weight-norm);
  line-height: 25px;
}

.header__decoration-text::after {
  content: "";
  inline-size: 10px;
  block-size: 10px;
  border-radius: 50%;
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: -19px;
  background-color: var(--decoration-color);
  filter: drop-shadow(0px 0px 4px var(--decoration-color));
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 15px;
}

.header__theme-menu-item {
  color: var(--navigation-color);
  text-align: center;
  font-size: var(--font-size);
  font-weight: var(--font-weight-norm);
  line-height: 18px;
}

.header__theme-menu-button {
  background-color: transparent;
  padding: 2px 10px;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-transperent);
}

.header__theme-menu-button_active {
  border: 1px solid var(--navigation-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--navigation-color);
}

.header__theme-title {
  margin-inline-start: -20px;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: var(--font-weight-bold);
  line-height: 82.5%;
}

.header__theme-subtitle {
  inline-size: 50%;
  justify-self: end;
  align-self: center;
  color: var(--title-info-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  line-height: 23.4px;
}

/* //////////////////////////////////////////////////////// */

.content__why {
  display: grid;
  grid-template-columns: 32% calc(68% - 20px);
  grid-template-rows: repeat(2, minmax(10px, auto));
  margin-bottom: var(--margin-block-big);
  gap: 20px;
}

.content__why-stretch {
  grid-row: 1 / -1;
}

/* //////////////////////////////////////////////////////// */

.content__what {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(10px, auto));
  margin-bottom: var(--margin-block-big);
  gap: 20px;
}

.content__what-stretch {
  grid-column: 1 / -1;
  max-inline-size: 32%;
}

/* //////////////////////////////////////////////////////// */

.content__how {
  display: grid;
  grid-template-columns: 32% calc(68% - 20px);
  grid-template-rows: repeat(2, minmax(10px, auto));
  margin-block-end: var(--margin-block-big);
  gap: 20px;
}

.content__how-stretch {
  grid-row: 1 / 7;
}

.content__how-span {
  color: var(--title-info-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  line-height: 23.4px;
}

.content__how .content__block-info-title {
  font-weight: var(--font-weight-norm);
}

/* //////////////////////////////////////////////////////// */

.content__images {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-end: var(--margin-block-norm);
}

.content__images .content__block-title {
  color: var(--title-info-color);
}

.content__block-images {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, auto));
  grid-template-rows: minmax(192px, 260px) minmax(230px, 315px) minmax(
      318px,
      430px
    );
  gap: 20px;
}

.content__block-images img:nth-child(1) {
  grid-column: 1 / 3;
}

.content__block-images img:nth-child(2) {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

.content__block-images img:nth-child(3) {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}

.content__block-images img:nth-child(4) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.content__block-images img:nth-child(5) {
  grid-row: 3 / 4;
  grid-column: 2 / 4;
}

.image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* //////////////////////////////////////////////////////// */

.footer {
  min-block-size: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer__theme-title {
  color: var(--main-title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: var(--font-weight-bold);
  line-height: 82.5%;
}

/* //////////////////////////////////////////////////////// */

@media (width <= 768px) {
  .header__theme-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  .content__what {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(10px, auto));
  }

  .content__block-images {
    grid-template-columns: repeat(3, minmax(100px, auto));
    grid-template-rows: minmax(100px, 192px) minmax(100px, 230px) minmax(
        100px,
        318px
      );
  }

  .footer__theme-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width <= 600px) {
  .content__how {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, minmax(10px, auto));
  }

  .content__how-stretch {
    grid-row: 1 / 1;
  }

  .content__why {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(10px, auto));
  }

  .content__why-stretch {
    grid-row: 1 / 1;
  }

  .header__theme-subtitle {
    inline-size: 100%;
    justify-self: center;
  }
}

@media (width <= 425px) {
  .content {
    padding: 0 10px;
  }

  .content__block-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .content__images {
    gap: 10px;
    margin-block-end: var(--mob-margin-block-norm);
  }

  .content__what {
    margin-block-end: var(--mob-margin-block-big);
  }

  .content__what-stretch {
    max-inline-size: 100%;
  }

  .content__why {
    margin-block-end: var(--mob-margin-block-big);
  }

  .content__how {
    margin-block-end: var(--mob-margin-block-big);
  }

  .decorated-zone {
    padding: 10px;
  }

  .decorated-zone::before {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .decorated-zone::after {
    inset-inline-start: 10px;
    inset-block-end: 10px;
  }

  .header {
    margin-block-end: var(--mob-margin-block-norm);
  }

  .header__decoration-text {
    inset-block-start: 10px;
    inset-inline-end: 38px;
  }

  .header__theme-title {
    margin: 0;
  }
}
