/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --main-title-color: #db00ff;
  --text-info-color: #f1b2ce;
  --title-info-color: #000028;
  --title-block-color: #ff0070;
  --navigation-color: #ff0070;
  --decoration-color: #ff0070;
  --hover-transperent: rgba(255, 0, 112, 0.4);
  --font-main: "IBM Plex Mono", Arial, Helvetica, sans-serif;
  --font-size: 18px;
  --font-weight-norm: 400;
  --font-weight-bold: 700;
  --margin-block-big: 80px;
  --margin-block-norm: 60px;
  --mob-margin-block-big: 50px;
  --mob-margin-block-norm: 40px;
  --min-height-desktop: 768px;
  --min-height-tablet: 1024px;
  --min-height-mobile: 668px;
}
